<!DOCTYPE html>
<html lang="es">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contactos</title>
    <link rel="icon" href="../img/iconoper.png">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../lib/boots/dist/css/bootstrap.css">
</head>
<body>
  <a href="../portafolio.html" class="xdxd">asass
  </a>
    <a class="botonregreso">
      <p>←</p>
    </a>
  <div class="toggle"></div>
  <div class="contenedor"><br>
    <div class="titulo">
      <a>contactos</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="https://www.facebook.com/danielito.cruz.1004" target="_blank"> <img src="../img/fb.png"class="fb" alt=""></a>
      </div>
      <div class="col-md-4">
        <a href="https://github.com/crobcross" target="_blank"> <img src="../img/git.png" alt=""></a>
      </div>
      <div class="col-md-4">
        <a href="https://www.youtube.com/channel/UCJlaEHIdgDH90wHpSHc9Pbg?view_as=subscriber" target="_blank"> <img src="../img/you.png" alt=""></a>
      </div>
    </div>
  </div>
  <script	src="../js/maquina.js">
    </script>
</div>
</body>
</html>
