<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyectos</title>
    <link rel="icon" href="../img/icono.jpg">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
  <div class="galeriainicio"><br>
      <a href="../portafolio.html"class="botonregreso">
        <p>←</p>
      </a>
      <h1>Mis proyectos</h1>
      <div class="linea"></div>
      <div class="contenedor-imagenes">
          <div class="imagen" >
              <img src="../img/proyeclima.jpg" alt="">
               <div class="overlay">
                  <a href="../paginas/clima/clima.html" target="_blank">Clima</a>
              </div>
          </div>
          <div class="imagen">
              <img src="../img/img.jpg" alt="">
              <div class="overlay">
                  <a href="../paginas/arte/index.html" target="_blank">Arte</a>
              </div>
          </div>
          <div class="imagen">
              <img src="../img/proyepokemon.jpg" alt="">
              <div class="overlay">
                  <a href="../paginas/pokedex/index.html" target="_blank">pokedex</a>
              </div>
          </div>
          <div class="imagen">
              <img src="../img/gim.jpg" alt="">
              <div class="overlay">
                  <a href="../paginas/gymtemplate/index.html" target="_blank">Gymtempate</a>
              </div>
          </div>
          <div class="imagen">
              <img src="../img/proyelogin.jpeg" alt="">
              <div class="overlay">
                  <a href="../paginas/login/index.html" target="_blank">Login</a>
              </div>
          </div>
          <div class="imagen">
              <img src="../img/guatemala.png" alt="">
              <div class="overlay">
                  <a href=../paginas/proyecto/index.html target="_blank">Guatemala</a>
              </div>
          </div>
    </div>
  </div>
<div class="fondo2">

<div class="contenedorslide">
    <div class="slide-contenedor">
        <div class="miSlider fade">
            <img src="../img/clima.png" alt="">
        </div>
        <div class="miSlider fade">
            <img src="../img/adivinanzas.png" alt="">
        </div>
        <div class="miSlider fade">
            <img src="../img/poke.png" alt="">
        </div>
        <div class="barras">
            <span class="barra active" onclick="posicionSlide(1)"></span>
            <span class="barra" onclick="posicionSlide(2)"></span>
            <span class="barra" onclick="posicionSlide(3)"></span>
        </div>
    </div>
  </div>
  <!--efecto partido-->
  <div class="fondoulti">
  <section class="galeria">
      <div class="sesgoarriba"></div>
      <div class="imagenes none">
          <img src="../img/1.jpg" alt="">
      </div>
      <div class="imagenes">
          <img src="../img/10.jpg" alt="">
      </div>
      <div class="imagenes">
          <img src="../img/2.png" alt="">
          <div class="encima">
              <h2>Daniel Cruz</h2>
              <div></div>
          </div>
      </div>
      <div class="imagenes">
          <img src="../img/4.jpeg" alt="">
      </div>
      <div class="imagenes none">
          <img src="../img/5.jpeg" alt="">
      </div>
      <div class="sesgoabajo"></div>
</div>
    <script src="../js/script.js"></script>
</body>
</html>
